
////// MAIN //////
@import "colors";
@import "general/button";
@import "general/fonts";


@import "header/index.less";


html{

  body{
    margin: 0px;
    font-family: YandexSansDisplay-Regular,sans-serif;
    font-size: 14px;
    font-weight: normal;

    .app{
      margin: 0rem 4rem;
    }
  }
}