////////// GEOPOSITION //////////


.geoposition_menu-item{
  min-width: 9rem;
  overflow: hidden;

  .icon{

    &:before{
      background: url("../../../static/images/gray_geo_arrow.svg") center no-repeat;
    }
    &:after{
      background: url("../../../static/images/red_geo_arrow.svg") center no-repeat;
    }
  }
}
